



<!--.....................Listar desde angular.........................-->
<!-- <div class="card-columns">
<div class="card" style="width:400px" *ngFor="let product of products">
    <img class="card-img-top" [src]="product.image" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{product.price}}€</h4>
      <p class="card-text">{{product.color}}</p>
      <a href="#" class="btn btn-primary">{{product.size}}</a>
    </div>
  </div>
</div> -->




<!--................................TEMPLATE...............................-->
<div class="jumbotron">
  <div class="container text-center">
    <h1>My Portfolio</h1>
    <p>Some text that represents "Me"...</p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  
  <select class="form-control">
    <option>Talla</option>
    <option>Talla 38</option>
    <option>Talla 40</option>
    <option>Talla 42</option>
  </select>
  <select class="form-control">
    <option>Precio</option>
    <option>Hasta 200€</option>
    <option>Hasta 500€</option>
    <option>Hasta 800€</option>
  </select>

  <h2>Busca Vestido:</h2>
  <input type="search" name="searchInput" [formControl]="searchInput">

  <ul>
    <li *ngFor="let item of vestidos">
      {{ item.name }}
    </li>
  </ul>


  <div class="row">
    <div class="col-sm-4">
      
      <img src="../../assets/wedding-dresses-1486005_1280.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
     
      <img src="../../assets/people-2586426_1280.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      
      <img src="../../assets/wedding-dresses-1485984_1280.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>

  </div>
</div>
<br>

<!-- <div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-4">
      
      <img src="../../assets/bride-985089_1280.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      
      <img src="../../assets/wedding-dresses-1486004_1280.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
     
      <img src="../../assets/dress.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>
<br> -->
<br>




<!--................................BUSCADOR RXJ........................................................-->

<!-- <h2>Busca Vestido:</h2>
<input type="search" name="searchInput" [formControl]="searchInput">

<ul>
  <li *ngFor="let item of vestidos">
    {{ item.name }}
  </li>
</ul> -->