<div class="filter-container">
  <div class="form-group">
    <label for="size">Busca por talla:</label>
    <select 
		name="size" 
		class="form-control" 
		[(ngModel)]="size" 
		(change)="onSizeChange()">
      <option selected [value]="''">Todas</option>
      <option value="38">38</option>
      <option value="40">40</option>
      <option value="42">42</option>
      <option value="44">44</option>
    </select>
  </div>
  <div class="form-group">
    <label for="price">Busca por precio:</label>
    <select 
		name="price" 
		class="form-control" 
		[(ngModel)]="price" 
		(change)="onPriceChange()">
      <option selected [value]="''">Todos</option>
      <option value="0-50">Less than 50€</option>
      <option value="50-100">50€ - 100€</option>
      <option value="100-200">100€ - 200€</option>
      <option value="200-500">200€ - 500€</option>
      <option value="500-+">More than 500€</option>
    </select>
  </div>
</div>