<div class="card" *ngFor="let product of userProducts">
    <a class="img-container" [ngStyle]="{ 'background-image': 'url(' + product.image + ')'}">
    </a>
    <div class="info">
      <h3>{{product.price}}€</h3>
      <p>Talla: {{product.size}}</p>
      <p>{{product.color | uppercase }}</p>
      <h6>Descripción:</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quo exercitationem illo quae optio sunt facilis iusto
        blanditiis nam veritatis dignissimos vel ducimus animi, dicta sapiente voluptates molestias a totam.</p>
      <button type="button" class="btn btn-danger btn-sm btn-block">Eliminar Producto</button>
    </div>
  </div>
