<h3>TUS PRODUCTOS</h3>
<div class="container">
    <div class="card" *ngFor="let product of userProducts; let i=index">
        <a class="img-container" [ngStyle]="{ 'background-image': 'url(' + serverBaseUrl + product.image + ')'}">
        </a>
        <div class="info">
          <h3>{{product.price}}€</h3>
          <p>Talla: {{product.size}}</p>
          <p>{{product.color | uppercase }}</p>
          <h6>Descripción:</h6>
          <p>{{product.description}}</p>
          <button (click)="removeProduct(product._id, i)" type="button" class="btn btn-danger btn-sm btn-block">Eliminar Producto</button>
        </div>
      </div>
</div>

